/* Banner */

.banner {
  background: url("https://res.cloudinary.com/dbtsjperv/image/upload/v1636361668/Banner_m3tvol.jpg")
    center center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

.banner__info {
  background-image: linear-gradient(to right, rgb(0, 0, 0, 0.5), transparent);
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
  height: 300px;
}

.banner__info > h1,
h5 {
  color: white;
}

/* Button */

.banner__button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background-color: white;
  border: none;
  color: #ff5a5f;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px;
}

.banner__button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.banner__button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.banner__button:hover span {
  padding-right: 25px;
}

.banner__button:hover span:after {
  opacity: 1;
  right: 0;
}
