* {
  font-family: "Inter", sans-serif;
}

/* Banner */

.banner {
  background: url("https://res.cloudinary.com/dbtsjperv/image/upload/v1636361668/Banner_m3tvol.jpg")
    center center;
  background-size: cover;
  background-position: center;
  height: 50vh;
  position: relative;
  opacity: 1;
}

.banner__info {
  background-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), transparent);
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
  height: 668px;
}

.banner__info > h1,
h5 {
  color: white;
}

h1 {
  font-weight: 700;
}

h5 {
  font-weight: 500;
  line-height: 1.5;
}

/* Button */

.banner__button1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background-color: #ff5a5f;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.banner__button1:hover {
  background-color: #ff5a5f;
  color: white;
}

.banner__button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.banner__button1 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.banner__button1:hover span {
  padding-right: 25px;
}

.banner__button1:hover span:after {
  opacity: 1;
  right: 0;
}

.buttons {
  display: flex;
}

.banner__button2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background-color: white;
  color: #ff5a5f;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.banner__button2:hover {
  background-color: white;
  color: #ff5a5f;
}

.banner__button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.banner__button2 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.banner__button2:hover span {
  padding-right: 25px;
}

.banner__button2:hover span:after {
  opacity: 1;
  right: 0;
}
