#listing-detail-component-container {
  font-family: "Inter", sans-serif;
  margin: 0 auto 0 auto;
  width: 100%;
  padding: 40px 0px;
}

#listing-details {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

#listing-detail-images {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#otherImages {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  justify-content: flex-start;
}

#mainImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 30%;
}

#mainImage_title_container {
  display: flex;
  justify-content: space-between;
}

.listing-name {
  text-align: left;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #2c3e50;
}

.listing-name-subtext-review {
  display: flex;
  margin-bottom: 20px;
}

.listing-name-subtext-review-detailA {
  padding-left: 3px;
  padding-right: 3px;
}

.listing-name-subtext-review-detailB {
  color: gray;
}

#listing-detail-image {
  border: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#listing-details {
  margin-top: 20px;
}

#listing-detail-address {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #2c3e50;
}

#listing-detail-city,
#listing-detail-country {
  font-size: 18px;
  font-weight: 300;
  color: #2c3e50;
}

#listing-detail-price {
  font-size: 22px;
  font-weight: 400;
  color: #2c3e50;
}

#review-title {
  font-size: 25px;
  font-weight: 400;
  color: #2c3e50;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

#review-title {
  font-size: 25px;
  font-weight: 400;
  color: #2c3e50;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

#review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#review-body {
  font-size: 18px;
  font-weight: 300;
  color: #2c3e50;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 60vw;
}

.listing-detail-images {
  margin: 0px 5px;
  border: none;
  object-fit: cover;
  width: 49%;
  height: 49%;
}

#listing-detail-description {
  padding-bottom: 40px;
}

#listing-details-boxA {
  display: flex;
  flex-direction: column;
}

#listing-details-boxB {
  display: flex;
  border-top: 1px solid lightgray;
  padding-top: 40px;
  width: 60%;
}

.listing-details-boxB-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.homeIcon {
  font-size: 20px;
  width: auto;
  height: auto;
}

#listing-detail-boxB-name {
  padding-bottom: 5px;
}

#listing-detail-name {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

#listing-detail-description {
  color: gray;
}

#listing-detail-boxB-description {
  color: lightGray;
}

#listing-details-boxC {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 60%;
  border-bottom: 1px solid lightgray;
}

#listing-details-boxD {
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 100;
  width: 60%;
  border-bottom: 1px solid lightgray;
  margin-bottom: 15px;
}
.container {
  max-width: 1024 px;
  box-sizing: border-box;
  display: block;
  margin: auto;
  padding: 0 px;
}

.review__section {
  display: flex;
  justify-content: space-between;
}

.review__section > button {
  padding: 10px 20px;
}

/* .container * {
  max-width: 100%;
} */
@media screen and (max-width: 768px) {
  #mainImage {
    flex-direction: column;
  }
  #listing-detail-component-container {
    width: 100vw;
    margin-top: 140px;
  }
  #review-body {
    width: 90vw;
  }
  #listing-detail-images {
    flex-direction: column;
  }
  .listing-detail-images {
    margin: 5px 0px;
  }
}
