/* Navigation Bar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Stick to the top */
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 25px 0 25px 0;
  background-color: white;
}

.header.active {
  background: white;
  color: #ff385c;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

#logo-title {
  font-size: 22px;
  margin-left: 15px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.logo-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  color: #ff385c;
  text-decoration: none;
}

.logo-title-container-active {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  color: black;
  text-decoration: none;
}

.header__center {
  display: flex;
  align-items: center;
  flex: 1;

  max-width: fit-content;
  padding: 10px;
  height: 30px;

  border: 1px solid lightgray;
  border-radius: 999px;
}

.header__center > input {
  border: none;
  /* width: 250px; */

  padding: 10px;
  outline-width: 0;
}

.header-right-active {
  display: flex;
  align-items: center;

  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
  color: black;
}

.header-right {
  display: flex;
  align-items: center;

  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
  color: black;
}
