*,
::after,
::before {
  box-sizing: border-box;
}
.field-group {
  margin-bottom: 20px;
  width: 100%;
  display: block;
}

.field-group input {
  display: block;
  padding: 8px 15px;
  border-radius: 4px;
  border-color: #c0c0c0;
  width: 100%;
}

.field-group label {
  display: block;
  margin-bottom: 8px;
}

.button-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.button-group button {
  padding: 7px 12px;
  margin-bottom: 8px;
  background: transparent;
  border: 1px solid #808080;
}

.button-group button:hover {
  border-color: #0d0d0d;
  transition: all 0.5s ease-in-out;
}
