.button {
  border: solid 1px lightgray;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px;
  font-weight: normal;
}

.button:hover {
  border: solid 1px black;
}
